{% extends "home/common/base.html" %}
{% load static %}
{% block content %}


<!-- Content Wrapper Start -->
<div class="content-wrapper">

  
    
     <!-- FAQ Section start -->
     <section class="faq-wrap pt-100 pb-75">
        <div class="container">
          <h2 style="color: green;">Metadata</h2>
            <div class="row gx-5">
                <div class="col-lg-12"><table class="table">
                  <thead>
                    <tr>
                      <th scope="col"><h3>1. Contacts</h3></th>
                      <th scope="col">&nbsp;</th>
                      <th scope="col">&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Contact Organisation</td>
                      <td>Ministry of Agriculture and Livestock Development</td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Contact organisation unit</td>
                      <td>Statistics Department</td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Contact name</td>
                      <td>Tom Dienya</td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Contact person function</td>
                      <td>Head of Statistics Department</td> 
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Contact mail address</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Contact email addres</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Contact phone number</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Contact fax number</td>
                      <td></td>
                    </tr>
                  </tbody>

                  <thead>
                    <tr>
                      <th scope="col"><h3>2. Action Date</h3></th>
                      <th scope="col">&nbsp;</th>
                      <th scope="col">&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Metadata last certified</td>
                      <td> </td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Metadata last posted</td>
                      <td> </td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Metadata last update</td>
                      <td>December 2022 </td>
                    </tr>

                  </tbody>

                  <thead>
                    <tr>
                      <th scope="col"><h3>3) Main Characteristics data</h3></th>
                      <th scope="col">&nbsp;</th>
                      <th scope="col">&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Data description</td>
                      <td> </td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Classification system</td>
                      <td> </td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Primary classification</td>
                      <td> </td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Secondary classification</td>
                      <td> </td> 
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>SubSector coverage</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Statistical concepts and definitions</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Statistical unit</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Statistical population</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Reference area</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Code - reference area</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Code - Number of countries/areas covered</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Time coverage</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Periodicity</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Start period</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>End period</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Base period</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</th>
                      <td>Base period code</td>
                      <td></td>
                    </tr>
                  
                  </tbody>


                </table>

                

              




                </div>
                
            </div>
        </div>
    </section>
    <!-- FAQ Section end -->


</div>





{% endblock %}  