{% extends "home/common/base.html" %}
{% load static %}
{% block content %}


<!-- Content Wrapper Start -->
<div class="content-wrapper">

  

    <!-- Terms Section start -->
    <section class="terms-wrap ptb-100 pb-75">
        <div class="container">
            <h2 style="color: green;">Open Data Policy Statement</h2>
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="single-terms">
                        <h3>1.	Open Data Sharing Principles </h3>
                        <p>The Ministry of Agriculture and Livestock Development shall strive to provide data to the public by default and free of charge as a public good. While sharing the data with  the public, the Ministry will be guided by the following principles governing management of government open data:  </p>
                        <ol>
                            <li>that the data shall be Complete  and not subject to valid privacy, security or privilege limitations; </li>
                            <li>the data shall be Primary data collected at the source, and can be traced to lowest level possible; </li>
                            <li>the data shall be Timely data made available as quickly as necessary to preserve the time value of the data;</li>
                            <li>the data shall be Accessible data available to the widest range of users; </li>
                            <li>the data shall be Machine Processable; reasonably structured to allow automated processing; </li>
                            <li>the data shall be Non-Discriminatory data available to anyone (farmers, women, civil society, disadvantaged groups), with no requirement of registration; </li>
                            <li>the data formats shall be Non-Proprietary data available in a license-free format over which no entity has exclusive control. </li>
                            <li>Open data shall be Reviewable data, that is, there is a contact person who knows about the data and is designated to respond to people trying to use the data or answer to any complaints raised by data users;</li>
                            <li>The data shall be renewable. That is, data created with reference to a base year should be systematically renewed in subsequent years, so that data users can get not only the latest data available, but also the same sets of data collected many years ago</li>
                           
                        </ol>

                        </p>

                        <p>The Ministry of Agriculture and Livestock Development (MoA&LD) is committed to working with other stakeholders to leverage on open data sharing opportunities to transform agriculture through evidence-based decisions and policies, knowledge creation and sustainable innovations, as well as empowerment of the various players in the agricultural value chains. Through open data system, Kenya’s agricultural transformation will be characterized by openness and transparency, inclusivity and public participation, and government response to key challenges facing value chain actors. </p>
                    <br>
                    </div>

                    <div class="single-terms">
                        <h3>2.	Policy Statement on Open Data Sharing </h3>
                        
                        <ul>
                            <li>MoA&LD shall make non-sensitive data open by default; to make data  contribute to greater innovation and productivity improvements across all sectors of the Kenyan economy;</li>
                                <li>MoA&LD shall make data available with free, easy to use, high quality and reliable Application Programming Interfaces (APIs); </li>
                                    <li>MoA&LD shall make high-value data available for use by the public, industry and academia, in a manner that is enduring and frequently updated using high quality standards;</li>
                                        <li>Where possible, MoA&LD shall ensure non-sensitive publicly funded research data is made open for use and reuse;</li>
                                            <li>Data and official statistics shall be public goods. Kenya shall only charge for specialised data services and, where possible, publish the resulting data open by default;</li>
                                                <li>The MoA&LD shall build partnerships with the public, private and research sectors to build collective expertise and to find new ways to leverage public data for social and economic benefit;</li>
                                                    <li>The MoA&LD shall secure the sector database and share data with other government ministries and agencies so as to improve efficiencies, and inform policy development and decision-making;</li>
                                                        <li>The MoA&LD shall engage openly with the Counties to share and integrate data to inform matters of importance to both levels of governments; </li>
                                                            <li>The MoA&LD shall uphold the highest standards of security and privacy for the individual, national security  and commercial confidentiality; and</li>
                                                                <li>The MoA&LD shall ensure all new systems support discoverability, interoperability, data and information accessibility and cost-effective access to facilitate access to data.</li>

                                                            </ul>
<p>At a minimum, the MoA&LD will publish appropriately anonymised government data by default:</p>
<ul>
<li>on or linked through the e-citizen https://www.ecitizen.go.ke/ for discoverability and availability;</li>
    <li>in a machine-readable, spatially-enabled format; </li>
        <li>with high quality, easy to use and freely available API access;</li>
            <li>with descriptive metadata;</li>
                <li>using agreed open standards; and</li>
                    <li>kept up to date in an automated way</li>
                </ul>


        </div>
                   
                   
                </div>
            </div>
        </div>
    </section>
    <!-- Terms Section end -->

</div>
<!-- Content wrapper end -->
           

{% endblock %}   