{% extends "home/common/base.html" %}
{% load static %}
{% block content %}


<!-- Content Wrapper Start -->
<div class="content-wrapper">

   

    <!-- Terms Section start -->
    <section class="terms-wrap ptb-100 pb-75">
        <div class="container">
            <h2 style="color: green;">Terms and Conditions</h2>
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="single-terms">
                        <h3>1.	Statement of Purpose: </h3>
                        <p>The Ministry of Agriculture and Livestock Development (MoA&LD) and related State Corporations as well as other agricultural sector ministries collect a wide range of food and agriculture data in Kenya. In fulfilment of the Constitution and in accordance with the Access to Information Act 2016, the MoA&LD shall facilitate access to information held by the government expeditiously at no or reasonable cost. To uphold this commitment, MoA&LD shall: </p>
                        <ul>
                            <li>Provide objective and unbiased statistics needed by people requiring information about Kenya’s agricultural sector. </li>
                            <li>Safeguard the privacy of farmers, traders, and other data providers and ensure data security and confidentiality at all levels; </li>
                            <li>Seek feedback from data users and continuously improve the data content to meet the demands of users </li>
                        </ul>
                        </p>
                    </div>
                    <div class="single-terms">
                        <h3>2.	Public Data Sharing</h3>
                        <p>
                            In line with Open Data policy, the MoA&LD shall strive to avail data to the public as a public good to inform and empower the citizen and in recognition of their rights to access public information enshrined in the Constitution. In availing data as a public good, the MoA&LD shall strive to make the data useful and meaningful by improving the discoverability, management, and re-usability of the data assets, while taking into account legal, confidentiality and rights related all released datasets.
The specific roles of the MoA&LD in data sharing include:
                        </p>
                        <ul>
                            <li>Creating and Maintaining the Data Inventory: The inventory is the list of available datasets that should be made public.</li>
                            <li>Continue to Expand the datasets by adding additional data assets to the Inventory, based on identified classes or categories of data, and ensuring that each class/category is accorded sufficient attention.</li>
                            <li>Continue to Enrich the datasets by improving the quality of metadata describing each data asset, for example, by increasing the number of keyword tags, clarifying descriptions of data, or adding additional metadata fields consistent with existing communities of practice or use cases.</li>
                            <li>Strive to make datasets Open by implementing tools and processes that make data easily accessible and machine-readable, while ensuring adequate policy, process, and technical safeguards are in place to prevent against the release of sensitive data. </li>
                        </ul>
                    </div>

                    <div class="single-terms">
                        <h3>3.	Access to Information Protocols</h3>
                        <p>
                            a) The information generated with financing from the public budget in whole or in part, that is processed, reviewed and that is available for dissemination, whether through synthesis indicators, tabulated or harmonized primary databases and suitable for dissemination, will be freely available.
                        </p>
                        <p>
                            b) The information generated by the Ministry with financing support from private agency, international institutions or development partners will be freely available, unless otherwise  stated in the support contract.

                        </p>
                        <p>
                            c) As much as possible, the statistical information will be disseminated in a disaggregated way at the thematic and geographical/county level, using relative and absolute values, including the available historical information.

                        </p>

                        <p>
                            d) The methodologies and complementary information explaining the potentialities and limitations of the data obtained, such as process reports, quality assessments of statistical operations, among others, will be freely available to users.

                        </p>

                        <p>
                            e) Printed publications of rapid diffusion through brochures, posters, leaflets, among others, will be free.

                        </p>

                        <p>
                            f) All statistical services that involve the consumption of man-hours, such as data processing to meet specific requests, preparation of databases tailored to the user, preparation of reports, graphs and analysis, among others, will have a cost proportional to the service size. However, in line with Access to Information Act 2016, such costs shall be made official and authorized by the Cabinet Secretary through a government Gazette Notice.

                        </p>

                        <p>
                            g) All printed publications (books, newsletters, reports) or in electronic media (CD Rom, diskette) containing results of statistical research may attract a cost.

                        </p>


                     
                    </div>

                    <div class="single-terms">
                        <h3>4.	Terms and Conditions for Use of Data and Documents</h3>
                        <p>
                            Data and other documents made available on this website are categorized as public good provided by national and county governments to the citizen. The materials are categorized into two groups: free data/documents and those subjected to copyright. Free data are comprehensively provided under Open Data category. The Open Data may be used freely, copied, translated or modified. Commercial use of content of open data is also permitted. Overall, it is the intention of ASU to avail most data as Open Data; to meet the global standards of Open Data. However, where this is not possible for technical reasons, ASU shall still provide the data as free data.
                        </p>
                        <p>
                            The data subject to copyright are those that require the user to seek permission of the data source whenever the data is to be used, modified or published in other forms. In line with the Copyright Law of Kenya, the data/documents subject to Copyright, include:
                            <ol>
                                <li>Data/documents obtained from third party who has not provided exclusive rights for free use of such data/documents;</li>
                                <li>Data that has been generated jointly between the government and a third party, and which the government does not have exclusive rights of use of the data without consent of the joint author or third party;</li>
                                <li>The data owned by government but was generated through hire of contract that was however not commissioned or paid by the government</li>
                                <li>In the case of a film, video or youtube, the principal director and the producer are not employees of the government</li>
                            </ol>
                        
                        </p>
                       
                        <p>
                            Copyright material produced by a Government department belongs to the Government. Infringement of Copyright occurs where a third party performs any of the exclusive acts granted to the author/rights holder without the authority of the rights holder and the said acts do not fall within the exceptions and limitations provided for under section 26 of the Copyright Act Cap 130 of the Laws of Kenya. The exclusive acts include the right or reproduction, distribution, communication to the public, broadcasting, making available, rental or hire, sale, adaption and translation.
                            
                        </p>

                        <p>
                            This can give rise to both criminal and civil liability. Under Section 35, copyright infringement which gives rise to civil liability includes the exercise of the exclusive rights granted under Section 26 of Cap 130 as well as the importation of the copyright works or the rights granted under section 30 in relation to performers or circumvents the effective technological measures or rights management information without the authority of the rights holder.
                        </p>

                        <p>
                            Note, however, that even for the Copyrights data/documents, the numerical data and data in for of simple tables, graphs, charts or maps  are not subject to copyright. Accordingly the terms of use does not apply to such data, and said data may be used freely.
                        </p>

                        <p>
                            Overall, the use of the data and documents in this website constitutes agreement by the user with the Terms and Conditions elaborated below.
                        </p>

                        <h4>i) Source citation</h4>

                        <p>
                            a) Users should cite the Ministry of Agriculture and Livestock Development as the source when using the data/documents as follows: (Examples of source citation)
                        </p>
                        <p>
                            Source: Ministry of Agriculture and Livestock Development website (URL of the relevant page)

                        </p>
                        <p>
                            Source: ………..(Name) Document/Survey (Ministry of Agriculture and Livestock Development) (URL of the relevant page) (accessed on day/Month/year)
                        </p>

                        <p>
                            b) If a user has edited the original data/document, he/she should include a statement showing the editing, in addition to the above mentioned source citation. Editing the original data/document and using the edited information in a way to suggest that it has been done by an agent or institution within the Ministry (or its state corporations) is prohibited.
                        </p>


                     
                    </div>
                  
                  
                </div>
            </div>
        </div>
    </section>
    <!-- Terms Section end -->

</div>
<!-- Content wrapper end -->
           

{% endblock %}   