<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Link of CSS files -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/remixicon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl-theme-default-min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/fancybox.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/dark-theme.css' %}">
        <title>KilimoSTAT</title>
        <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
    </head>

    <body>

        <!--Preloader starts-->
        <div class="loader js-preloader">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <!--Preloader ends-->

        <!-- Theme Switcher Start -->
        <div class="switch-theme-mode">
            <label id="switch" class="switch">
                    <input type="checkbox" onchange="toggleTheme()" id="slider">
                    <span class="slider round"></span>
            </label>
        </div>
        <!-- Theme Switcher End -->

        <!-- Page Wrapper End -->
        <div class="page-wrapper">

            <!-- Header Section Start -->
            <header class="header-wrap">
                <div class="header-top">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-8 col-md-8">
                                <div class="header-top-left">
                                    <ul class="contact-info list-style">
                                        <li>
                                            <i class="flaticon-phone-call"></i>
                                            <a href="tel:0800724891">Call: 0800724891</a>
                                        </li>
                                        <li>
                                            <i class="flaticon-email-2"></i>
                                           <a href="mailto:
                                           info@kilimo.go.ke">
                                            info@kilimo.go.ke</a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="header-top-right">
                                    <div class="select-lang">
                                        <i class="ri-earth-fill"></i>
                                        <div class="navbar-option-item navbar-language dropdown language-option">
                                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <span class="lang-name"></span>
                                            </button>
                                            <div class="dropdown-menu language-dropdown-menu">
                                                <a class="dropdown-item" href="#">
                                                   
                                                    English
                                                </a>
                                                
                                               
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom">
                    <div class="container">
                        <nav class="navbar navbar-expand-md navbar-light">
                           <a class="navbar-brand" href="{% url 'home' %}">
                                <img class="logo-light" src="{% static 'assets/img/kilimo.jpg' %}" alt="logo">
                                <img class="logo-dark" src="{% static 'assets/img/kilimo.jpg' %}" alt="logo">
                            </a>
                            <div class="collapse navbar-collapse main-menu-wrap" id="navbarSupportedContent">
                                <div class="menu-close d-lg-none">
                                    <a href="javascript:void(0)"> <i class="ri-close-line"></i></a>
                                </div>
                                <ul class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <a href="{% url 'home' %}" class="nav-link active">
                                            Home
                                        </a>
                                        
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            About
                                            &nbsp;
                                            <i class="ri-arrow-down-s-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">About KilimoSTAT</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">Frequently Asked Questions</a>
                                            </li>
                                            
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            Resources &nbsp;
                                            <i class="ri-arrow-down-s-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    Publications
                                                    &nbsp;
                                            <i class="ri-arrow-down-s-fill"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">Bulletins</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">Year Books</a>
                                                    </li>
                                                </ul>


                                            </li>

                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    Definitions and Standards
                                                </a>
                                               
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    Database Updates
                                                </a>
                                               
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">Metadata</a>
                                            </li>
                                            
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    User Pages
                                                    &nbsp;
                                            <i class="ri-arrow-down-s-fill"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">Login</a>
                                                    </li>
                                                     <li class="nav-item">
                                                        <a href="#" class="nav-link">Register</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">Recover Password</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">Terms of Service</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">Privacy Policy</a>
                                            </li>
                                            
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            Media
                                            &nbsp;
                                            <i class="ri-arrow-down-s-fill"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    Blog
                                                    
                                                </a>
                                               
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    Contact Us
                                                </a>
                                               
                                            </li>
                                        </ul>
                                    </li>
                                   
                                    
                                </ul>
                                <div class="other-options md-none">
                                    
                                 
                                </div>
                            </div>
                        </nav>
                        <div class="search-area">
                            <input type="search" placeholder="Search Here..">
                            <button type="submit"><i class="ri-search-line"></i></button>
                        </div>
                        <div class="mobile-bar-wrap">
                            <button class="searchbtn d-lg-none"><i class="ri-search-line"></i></button>
                            <div class="mobile-menu d-lg-none">
                                <a href="javascript:void(0)"><i class="ri-menu-line"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>    
            <!-- Header Section End -->

            
             <!-- Content Wrapper Start -->
             <div class="content-wrapper">

             

                <!-- Project Details Section Start -->
                <section class="project-details-wrap ptb-100">
                    <div class="container">
                        <div class="row gx-5">
                            <div class="col-xl-8">
                                <div class="project-desc">
                                    <a class="single-project-img mt-0" data-fancybox="gallery" href="{% static 'assets/img/covid19.png' %}">
                                        <img src="{% static 'assets/img/covid19.png' %}" alt="Image">
                                    </a>
                                    <h1>Impacts of Covid 19 0n Food Security</h1>
                                    <div class="progressbar-wrap ">
                                        
                                    </div>
                                    


                                    <p> The Kenya Government has put in place measures aimed at cushioning Kenyans from the adverse
                                        effects of the Coronavirus Disease 2019 (COVID-19). Among the first steps that the Government
                                        took was the establishment of a National Coordination Committee on the Response to the Corona
                                        Virus Pandemic (NCCRCP). The NCCRCP has several working groups including the National
                                        Economic and Business Response (NEBR) which has the responsibility of availing information to
                                        facilitate formulation of appropriate strategies for intervention on socio-economic effects of the
                                        disease. The Kenya National Bureau of Statistics (KNBS) as a member of NEBR was tasked to
                                        undertake studies to provide information on the effects of COVID-19 on interactions between
                                        social and economic factors. Consequently, KNBS designed a survey to be undertaken in six (6)
                                        waves targeting individuals aged 18 years and above to provide estimates at the national and
                                        county levels. </p> 
                                        <p>   Data collection for the first wave was conducted between 2nd and 9th May 2020 while that of the
                                        second wave was undertaken between 30th May and 6th June 2020. This report provides the
                                        findings for the second wave of the survey. </p> 
                                        <p>  Out of the respondents who worked for at least one hour during the seven days preceding the
                                        survey period, 55.9 per cent were aged 35-64 years while those aged 25-34 constituted 33.8 per
                                        cent and those aged 18-24 constituted 10.2 per cent. Almost half (48.5%) of the respondents were
                                        working employers and own account workers while slightly more than a third (35.0%) were paid
                                        employees. About four out of ten males were in paid employment compared to about three out of
                                        ten of the females. The proportion of individuals absent from work due to COVID-9 related
                                        challenges was 61.9 per cent up from 49.9 per cent that was recorded in May 2020. Of the
                                        individuals absent from work, 77.8 per cent were not sure when they would resume. </p> 
                                    <p> Nationally, 26.9 per cent of respondents reported that they travelled less often, while 26.4 per cent
                                        had no change in travel pattern. Notably, 16.8 per cent of the individuals indicated that they were
                                        unable to travel at all. Countrywide, 59.2 per cent of the respondents reported a change in their
                                        cost of travel due to the pandemic. Further, the findings show that 14.4 per cent changed their main
                                        means of transport out of which 62.2 per cent opted to walk while 19.4 per cent opted to use Boda
                                        Boda. </p> 
                                        <p> Nationally, 37.0 per cent of households indicated that they were unable to pay rent for May 2020,
                                        while 31.6 per cent reported having paid the rent on time. Most (61.0%) of the households that
                                        were unable to pay rent cited reduced income as the main reason for defaulting. The survey further
                                        revealed that only 0.7 per cent of households in rented dwellings had received waiver or relief
                                        from landlords. A third of the households had not put in place any coping mechanism to counter
                                        the effect of COVID-19 on their ability to pay rent. </p> 
                                        <p>  The findings show that 88.2 per cent of the population aged 18 years and above indicated that they
                                        would be willing to be tested for COVID-19. In order to cope with COVID-19 pandemic, 25.4 per
                                        cent of the individuals reported that they found solace in family and relatives while 25.3 per cent
                                        reported that they were praying or worshipping. </p> 
                                        <p> The findings from the survey show that 18.2 per cent of the households reported having at least
                                        one individual with a pre-existing medical condition. Out of these households, 35.0 per cent
                                        indicated having a member with high blood pressure/hypertension. A further 19.1 per cent and
                                        15.0 per cent reported allergies and diabetes, respectively.2 </p> 
                                        <p> Nationally, 78.1 per cent of households reported to be food secure. About four out of five (78.8%)
                                        of the households indicated that there was an increase in food prices due to COVID-19 pandemic.
                                        Approximately 77.6 per cent of the households reported having no challenges in accessing
                                        market/grocery store to purchase food items. </p> 
                                        <p>  Knowledge of COVID-19 among the population aged 18 years and above is almost universal at
                                        99.0 per cent. Nationally, radio and television were reported as the main sources of information on
                                        COVID-19 at 82.8 per cent and 58.6 per cent, respectively. The most widely known methods of
                                        protection against COVID-19 were reported as washing hands with soap and water (96.0%) and
                                        use of masks (86.8%). </p> 
                                        <p> Countrywide, 65.8 per cent of the surveyed households reported to have at least one member who
                                        usually attend a learning institution. Self-learning at home was reported as the main coping
                                        mechanism used by majority (57.5%) of these households. However, 17.0 per cent of households
                                        with members who usually attend a learning institution were not using any method to continue
                                        with learning. </p> 
                                        <blockquote class="wp-block-quote">
                                            <p> To mitigate the financial distress caused by the pandemic, majority (41.9%) of the households cut
                                        on financial spending on non-essential commodities. A notable proportion of individuals (36.7%)
                                        did not take any measures to overcome the financial distress caused by the COVID-19. Almost a
                                        quarter (24.1%) of population aged 18 years and above who were servicing a loan had successfully
                                        renegotiated repayment terms. </p> 
                                        </blockquote>
                                        <p> The proportion of households that reported to have received cash transfers from relatives or friends
                                        since COVID-19 was reported of in the country stood at 18.4 per cent.
                                        Overall, 23.6 per cent of the respondents reported to have witnessed or heard cases of domestic
                                        violence in their communities. Majority (72.5%) of the households reported COVID-19 as their
                                        main cause of worry while 21.6 per cent were mainly worried about food security </p> 

                                        <div class="option-item">
                                            <a href="{% static 'assets/downloads/COVID19SurveyKeyIndicatorsReport.pdf' %}" class="btn style1">Downoad Full Report</a>
                                        </div>






 </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="sidebar">
                                    <div class="sidebar-widget">
                                        <h4>&nbsp;</h4>
                                        <div class="project-info-item-wrap">
                                            
                                            <a class="twitter-timeline" href="https://twitter.com/kalromkulima?ref_src=twsrc%5Etfw">Tweets by kalromkulima</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                                        </div>
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Project Details Section End -->

            </div>
            <!-- Content wrapper end -->




            <!-- Footer Section Start -->
            <footer class="footer-wrap">
                <div class="footer-top">
                   
                    <div class="container">
                        <div class="row pt-100 pb-75">
                            
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ps-xl-5 ps-lg-4 ps-md-5">
                                <div class="footer-widget">
                                    <h3 class="footer-widget-title">International </h3>
                                    <ul class="footer-menu list-style">
                                        <li>
                                            <a href="https://www.eac.int/eac-quick-facts">
                                            EAC Statistics
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://au.int/en/ea/statistics">
                                            AU Statistics
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.fao.org/faostat/en/#home">
                                             FAOSTAT
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.nepad.org/caadp">
                                            The Comprehensive African Agricultural Development Programme (CAADP)
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>


                                <div class="col-lg-4 col-md-6 col-sm-5">
                                    <h4 style="color:white">Follow Us On</h4>
                                    <ul class="social-profile style1 list-style">
                                        <li>
                                            <a href="https://facebook.com">
                                                <i class="ri-facebook-fill"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com">
                                                <i class="ri-twitter-fill"></i>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>







                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ps-xl-5 ps-lg-4 ps-md-5">
                                <div class="footer-widget">
                                    <h3 class="footer-widget-title">State Corporations</h3>
                                    <ul class="footer-menu list-style">
                                        <li>
                                            <a href="https://www.knbs.or.ke/">
                                                The Kenya National Bureau of Statistics (KNBS)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                            Ministry of Water, Sanitation and Irrigation
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                            Ministry of Blue Economy and Maritime Affairs
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.ndma.go.ke/">
                                            National Drought Management Authority (NDMA) 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.kalro.org/">
                                        Kenya Agricultural and Livestock Research Organization (KALRO)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://www.agricultureauthority.go.ke/index.php/en/">
                                        Agriculture and Food Authority (AFA)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://meteo.go.ke/">
                                        Kenya Meteorological Department (KMD)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.kephis.org/">
                                        Kenya Plant Health Inspectorate Service (KEPHIS)(KEPHIS)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.kdb.go.ke/">
                                        Kenya Dairy Board (KDB)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.kenyameat.co.ke/">
                                        Kenya Meat Commission (KMC)
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 ">
                                <div class="footer-widget">
                                    <h3 class="footer-widget-title">More Links</h3>
                                    <ul class="footer-menu list-style">
                                        <li>
                                            <a href="#">
                                            Development Partners
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="#">
                                        Terms and Conditions
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="#">
                                            Data Protection and Privacy
                                            </a>
                                        </li>

                                        <li> 
                                            <a href="#">
                                            Database Description
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="#">
                                            Bulk Download
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ps-md-5">
                                <div class="footer-widget">
                                    <h3 class="footer-widget-title">Contact Us</h3>
                                    <ul class="contact-info list-style">
                                        <li>
                                            <i class="flaticon-pin"></i>
                                            <h6>Location</h6>
                                            <p>Ministry of Agriculture Livestock Fisheries and Cooperatives <br>
                                                Cathedral Road,Nairobi</p>
                                        </li>
                                        <li>
                                            <i class="flaticon-mail"></i>
                                            <h6>Email</h6>
                                            <a href="mailto:info@kilimo.go.ke">info@kilimo.go.ke</a>
                                        </li>
                                        <li>
                                            <i class="flaticon-phone-call"></i>
                                            <h6>Phone</h6>
                                            <a href="tel:13454567877">+254-20-2718870</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-8 col-md-6 col-sm-7">
                                <p class="copyright-text"><i class="ri-copyright-line"></i>2022 KilimoSTAT from the <a href="https://kilimo.go.ke/"> Ministry of Agriculture and Livestock Development</a></p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer Section End -->
        
        </div>
        <!-- Page Wrapper End -->
        
        <!-- Back-to-top button Start -->
         <a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
        <!-- Back-to-top button End -->

        <!-- Link of JS files -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/form-validator.min.js' %}"></script>
        <script src="{% static 'assets/js/contact-form-script.js' %}"></script>
        <script src="{% static 'assets/js/aos.js' %}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/owl-thumb.min.js' %}"></script>
        <script src="{% static 'assets/js/odometer.js' %}"></script>
        <script src="{% static 'assets/js/circle-progressbar.min.js' %}"></script>
        <script src="{% static 'assets/js/fancybox.js' %}"></script>
        <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
        <script src="{% static 'assets/js/tweenmax.min.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>

</html>