<!DOCTYPE html>
<html lang="en">
{% load static %}

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>KilimoSTAT</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="format-detection" content="telephone=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="description" content="KilimoSTAT - Agriculture Statistics for Improved Decision Making and Enhacing Food  Security" />
        <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon; charset=binary" />
        <link rel="icon" href="assets/img/favicon.png" type="image/x-icon; charset=binary" />

        
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/bootstrap-table.min.css" />
        <link rel="stylesheet" href="assets/css/style.min.css" />
        <link rel="stylesheet" href="assets/css/select2.css" />
        <link rel="stylesheet" href="assets/css/jquery-ui.custom.min.css" />
        <link rel="stylesheet" href="assets/css/outdatedbrowser.min.css" />
        <link rel="stylesheet" href="assets/css/normalize.css" />
        <link rel="stylesheet" href="assets/css/ion.rangeSlider.css" />
        <link rel="stylesheet" href="assets/css/ion.rangeSlider.skinHTML5.css" />
        <link rel="stylesheet" href="assets/css/swiper.min.css" />
        <link rel="stylesheet" href="assets/css/nprogress.css" />
        <link rel="stylesheet" href="assets/css/toastr.min.css" />
        <link rel="stylesheet" href="assets/css/jbPivot.css" />
        <link rel="stylesheet" href="assets/css/leaflet.css" />
        <link rel="stylesheet" href="assets/css/waves.min.css" />
        <link rel="stylesheet" href="assets/css/introjs.min.css" />
        <link rel="stylesheet" href="assets/css/dataTables.bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/fixedColumns.bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/fenix-ui-map.min.css" />

        <link rel="stylesheet" href="assets/css/index.min.css" />


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 </head>
    <body class="en">
        <div id="outdated">
            <h6>Oh no your browser is out of date!</h6>
            <p>Update your browser to view this website correctly.</p>
            <br />
            <p>
                <img src="" width="48" height="48" />
            </p>
            <small style="padding-right: 15px;" class="pull-right">Icon thanks to <a href="https://icons8.com/">Icon pack by Icons8</a></small>
            <p class="last"><a href="https://statistics.kilimo.go.ke/" id="btnCloseUpdateBrowser" title="Close">×</a></p>
        </div>
        <div id="site-container">
            <!-- Header container-->
            <div class="container fs-direction-ltr">
                <div class="col-md-12 kilimo-header">
                    <header class="header">
                        <br />
                        <h1 id="logo-ltr" class="logo">
                            <a data-link="external" title="FAO homepage" target="_blank" href="https://kilimo.go.ke/">
                                <img class="img-responsive fao-logo-header" width="500" alt="" src="assets/img/kilimo.jpg" />
                            </a>
                        </h1>

                        <div id="google_search" class="hidden-xs">
                            <div id="c205206" class="csc-default">
                                <div class="tx-xinclude-pi1">
                                    <form action=" " method="get" target="_blank" id="fullsitesearch">
                                        <input type="hidden" name="cx" value="" />
                                        <!-- Google CSE Search Box Begins -->
                                        <input name="q" type="text" class="inputbox" size="18" onblur="this.value=&#39;&#39;" style="border: 0px; background: url('src/images/powered-by-google.svg') 0% 50% no-repeat rgb(255, 255, 255);" />
                                        <input type="hidden" name="cof" value="FORID:9" />
                                        <input id="search-submit" type="submit" value="Search" />
                                        <script type="text/javascript" src="assets/css/brand"></script>
                                        <!-- Google CSE Search Box Ends -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>

                <div class="col-md-12 kilimo-header hidden-xs clearfix">
                    <ul class="list-unstyled list-inline fao-menu-list pull-right flip">
                        <li>
                            <a data-link="external" target="_blank" href="#">About KilimoSTAT</a>
                        </li>
                        <li>
                            <a data-link="external" target="_blank" href="#">Emerging Issues</a>
                        </li>
                        <li>
                            <a data-link="external" target="_blank" href="#">Counties</a>
                        </li>
                        <li>
                            <a data-link="external" target="_blank" href="#">Sub Sectors</a>
                        </li>
                       
                        <li>
                            <a data-link="external" target="_blank" href="#">Publications</a>
                        </li>
                        <li>
                            <a data-link="external" target="_blank" href="#">Statistics</a>
                        </li>
                        <li>
                            <a data-link="external" target="_blank" href="#">Partnerships</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-12 clearfix">
                    <div id="fs-language" class="language-menu pull-right flip">
                        <ul class="list-unstyled list-inline hidden-xs">
                            <li>
                                <a data-locale="en" href="#" class="active">English</a>
                            </li>
                            <li>
                                <a data-locale="sw" href="#">Swahili</a>
                            </li>
                           
                        </ul>

                        <ul class="list-unstyled list-inline visible-xs">
                            <li>
                                <a data-locale="en" href="#" class="active">EN</a>
                            </li>
                            <li>
                                <a data-locale="sw" href="#">SW</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>

                <div class="col-md-12 hidden-xs">
                    <h1 class="kilimostat-title"><b>Kilimo</b>STAT</h1>
                </div>
            </div>

            <!-- Top menu container -->
            <div class="container fs-direction-ltr">
                <div class="col-md-12">
                    <div class="faostat_ui_menu" id="fs-menu">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                                    <span class="sr-only"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <a data-role="fs-menu-home" class="navbar-brand hidden-xs active" href="#">
                                    <img src="assets/img/home.png">
                                    
                                </a>

                                <a class="navbar-brand visible-xs" href="#"> <b>Kilimo</b>STAT </a>
                            </div>
                            <div class="collapse navbar-collapse" id="navbar-collapse" aria-expanded="false">
                                <ul class="nav navbar-nav navbar-left fs-nav-link flip">
                                    
                                    <li data-role="fs-menu-data">
                                        <a class="fs-nav-link" href="#">Home</a>
                                    </li>

                                    <li data-role="fs-menu-data">
                                        <a class="fs-nav-link" href="#">Data</a>
                                    </li>
                                    <li data-role="fs-menu-country-indicators">
                                        <a class="fs-nav-link" href="#">Selected Indicators</a>
                                    </li>
                                   
                                    <li data-role="fs-menu-definitions">
                                        <a class="fs-nav-link" href="#">Definitions and Standards</a>
                                    </li>
                                    <li data-role="fs-menu-faq">
                                        <a class="fs-nav-link" href="#">FAQ</a>
                                    </li>
                                </ul>

                                <!-- search visible large -->
                                <ul class="nav navbar-nav navbar-right flip hidden-sm hidden-md">
                                    <li data-role="fs-search" class="fs-menu-search-container">
                                        <span class="icojam_search pull-left fs-search-icon"></span>
                                        <span class="twitter-typeahead" style="position: relative; display: inline-block;">
                                            <input
                                                data-role="search"
                                                class="typeahead tt-hint"
                                                type="text"
                                                readonly=""
                                                autocomplete="off"
                                                spellcheck="false"
                                                tabindex="-1"
                                                dir="ltr"
                                                style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(252, 252, 252);"
                                            />
                                            <input
                                                data-role="search"
                                                class="typeahead tt-input"
                                                type="text"
                                                placeholder="Search an Indicator or Commodity"
                                                autocomplete="off"
                                                spellcheck="false"
                                                dir="auto"
                                                style="position: relative; vertical-align: top; background-color: transparent;"
                                            />
                                            <pre
                                                aria-hidden="true"
                                                style="
                                                    position: absolute;
                                                    visibility: hidden;
                                                    white-space: pre;
                                                    font-family: 'Open Sans', sans-serif;
                                                    font-size: 13px;
                                                    font-style: normal;
                                                    font-variant: normal;
                                                    font-weight: 400;
                                                    word-spacing: 0px;
                                                    letter-spacing: 0px;
                                                    text-indent: 0px;
                                                    text-rendering: auto;
                                                    text-transform: none;
                                                "
                                            ></pre>
                                            <div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div class="tt-dataset tt-dataset-suggestions"></div></div>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </nav>

                        <!-- search visible small -->
                        <div class="row visible-sm visible-md">
                            <div class="col-md-12">
                                <ul class="nav navbar-nav navbar-right flip">
                                    <li data-role="fs-search" class="fs-menu-search-container fs-menu-search-container-sm">
                                        <span class="icojam_search pull-left fs-search-icon"></span>
                                        <span class="twitter-typeahead" style="position: relative; display: inline-block;">
                                            <input
                                                data-role="search"
                                                class="typeahead tt-hint"
                                                type="text"
                                                readonly=""
                                                autocomplete="off"
                                                spellcheck="false"
                                                tabindex="-1"
                                                dir="ltr"
                                                style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(252, 252, 252);"
                                            />
                                            <input
                                                data-role="search"
                                                class="typeahead tt-input"
                                                type="text"
                                                placeholder="Search an Indicator or Commodity"
                                                autocomplete="off"
                                                spellcheck="false"
                                                dir="auto"
                                                style="position: relative; vertical-align: top; background-color: transparent;"
                                            />
                                            <pre
                                                aria-hidden="true"
                                                style="
                                                    position: absolute;
                                                    visibility: hidden;
                                                    white-space: pre;
                                                    font-family: 'Open Sans', sans-serif;
                                                    font-size: 13px;
                                                    font-style: normal;
                                                    font-variant: normal;
                                                    font-weight: 400;
                                                    word-spacing: 0px;
                                                    letter-spacing: 0px;
                                                    text-indent: 0px;
                                                    text-rendering: auto;
                                                    text-transform: none;
                                                "
                                            ></pre>
                                            <div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div class="tt-dataset tt-dataset-suggestions"></div></div>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Breadcrumb container -->
            <!--<div class="container">
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div id="breadcrumb-container"></div>
        </div>
    </div>
</div>-->

            <!-- Banner Container -->

            {% block content %}<!-- default content text (typically empty) -->{% endblock %}
            

            <!-- Footer Section Start -->
            <footer class="footer-wrap">
                <div class="footer-top">
                   
                    <div class="container">
                        <div class="row pt-100 pb-75">
                            
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ps-xl-5 ps-lg-4 ps-md-5">
                                <div class="footer-widget">
                                    <h3 class="footer-widget-title">International </h3>
                                    <ul class="footer-menu list-style">
                                        <li>
                                            <a href="https://www.eac.int/eac-quick-facts">
                                            EAC Statistics
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://au.int/en/ea/statistics">
                                            AU Statistics
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.fao.org/faostat/en/#home">
                                             FAOSTAT
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.nepad.org/caadp">
                                            The Comprehensive African Agricultural Development Programme (CAADP)
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>


                                <div class="col-lg-4 col-md-6 col-sm-5">
                                    <h4 style="color:white">Follow Us On</h4>
                                    <ul class="social-profile style1 list-style">
                                        <li>
                                            <a href="https://facebook.com">
                                                <i class="ri-facebook-fill"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com">
                                                <i class="ri-twitter-fill"></i>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>







                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ps-xl-5 ps-lg-4 ps-md-5">
                                <div class="footer-widget">
                                    <h3 class="footer-widget-title">State Corporations</h3>
                                    <ul class="footer-menu list-style">
                                        <li>
                                            <a href="https://www.knbs.or.ke/">
                                                The Kenya National Bureau of Statistics (KNBS)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                            Ministry of Water, Sanitation and Irrigation
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                            Ministry of Blue Economy and Maritime Affairs
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.ndma.go.ke/">
                                            National Drought Management Authority (NDMA) 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.kalro.org/">
                                        Kenya Agricultural and Livestock Research Organization (KALRO)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://www.agricultureauthority.go.ke/index.php/en/">
                                        Agriculture and Food Authority (AFA)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://meteo.go.ke/">
                                        Kenya Meteorological Department (KMD)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.kephis.org/">
                                        Kenya Plant Health Inspectorate Service (KEPHIS)(KEPHIS)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.kdb.go.ke/">
                                        Kenya Dairy Board (KDB)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.kenyameat.co.ke/">
                                        Kenya Meat Commission (KMC)
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 ">
                                <div class="footer-widget">
                                    <h3 class="footer-widget-title">More Links</h3>
                                    <ul class="footer-menu list-style">
                                        <li>
                                            <a href="#">
                                            Development Partners
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'census' %}">
                                            Agricultural Census
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="{% url 'terms' %}">
                                        Terms and Conditions
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="{% url 'policy' %}">
                                        Open Data Policy
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="http://kenyalaw.org:8181/exist/kenyalex/actview.xql?actid=No.%2024%20of%202019">
                                            Data Protection and Privacy
                                            </a>
                                        </li>

                                        <li> 
                                            <a href="#">
                                            Database Description
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="{% url 'data' %}">
                                            Bulk Download
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ps-md-5">
                                <div class="footer-widget">
                                    <h3 class="footer-widget-title">Contact Us</h3>
                                    <ul class="contact-info list-style">
                                        <li>
                                            <i class="flaticon-pin"></i>
                                            <h6>Location</h6>
                                            <p>Ministry of Agriculture Livestock Fisheries and Cooperatives <br>
                                                Cathedral Road,Nairobi</p>
                                        </li>
                                        <li>
                                            <i class="flaticon-mail"></i>
                                            <h6>Email</h6>
                                            <a href="mailto:info@kilimo.go.ke">info@kilimo.go.ke</a>
                                        </li>
                                        <li>
                                            <i class="flaticon-phone-call"></i>
                                            <h6>Phone</h6>
                                            <a href="tel:13454567877">+254-20-2718870</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-8 col-md-6 col-sm-7">
                                <p class="copyright-text"><i class="ri-copyright-line"></i>2022 KilimoSTAT from the <a href="https://kilimo.go.ke/"> Ministry of Agriculture and Livestock Development</a></p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer Section End -->
        
        </div>
        <!-- Page Wrapper End -->
        
        <!-- Back-to-top button Start -->
         <a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
        <!-- Back-to-top button End -->

        <!-- Link of JS files -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/form-validator.min.js' %}"></script>
        <script src="{% static 'assets/js/contact-form-script.js' %}"></script>
        <script src="{% static 'assets/js/aos.js' %}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/owl-thumb.min.js' %}"></script>
        <script src="{% static 'assets/js/odometer.js' %}"></script>
        <script src="{% static 'assets/js/circle-progressbar.min.js' %}"></script>
        <script src="{% static 'assets/js/fancybox.js' %}"></script>
        <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
        <script src="{% static 'assets/js/tweenmax.min.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>

</html>